<template>
  <div class="container d-flex flex-column align-items-center p-5 m-0">
    <h1>Estas são algumas frases iconicas de Kanye West soltadas eu seu Twitter:</h1>
    <div v-if="quote" class=" max-widith">
      <div class="d-flex align-items-end">
        <p>"{{ quote }}"</p>
        <span>-Kanye West </span>
      </div>
      <button type="button" @click="getQuote" class="btn btn-primary btn-lg">Nova frase</button>
    </div>
    <div v-else>
      <p>Loading...</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      quote: null
    };
  },
  mounted() {
    this.getQuote();
  },
  methods: {
    getQuote() {
      axios.get('https://api.kanye.rest')   // axios para receber as mensagens da API
        .then(response => {
          this.quote = response.data.quote;
        })
        .catch(error => {
          console.error(error);
        });
    }
  }
};
</script>