<template>
  <img alt="Kanye Face" src="./assets/Kanye-West.png">
  <KanyeFrases />
</template>

<script>
import KanyeFrases from './components/KanyeFrases.vue'

export default {
  name: 'App',
  components: {
    KanyeFrases
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
